.sidebar {
  width: 220px;
  padding: 18px;
  background: #1f1f2b;
  color: #dcdce0;
  border-radius: 8px;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  height: 100vh;
}

.navbar-logo {
  margin: 0;
  font-size: 1.8rem;
  color: #fff;
  height: 50px;
}

.brand {
  margin-top: 1rem;
  margin-bottom: 3.6rem;
  color: #fff;
  font-weight: 800;
}

.heading { 
  color: #f1f1f4; 
  margin: 20px 10px 20px; 
  font-size: 1.2rem; 
}

.genre-list { 
  list-style: none; 
  padding: 0; 
  margin: 0; 
  display:flex; 
  flex-direction: column; gap: 8px; 
}

.genre-item {
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
  color: #bfc0c8;
}

.genre-item:hover { 
  background: rgba(255,255,255,0.05); 
  color: #fff; 
}

.genre-item.active {
  background: rgba(0,0,0,0.3);
  color: #fff;
  font-weight: 600;
}